@model JobGrowthViewModel

<h2 class="govuk-heading-m govuk-!-margin-top-5">Future job growth</h2>
<p class="govuk-body">This information tells you whether jobs in a sector are likely to go up or down in the future.</p>

@if (Model != null)
{
    <div class="dfc-app-lmi-panel panel-green">
        <div class="panel-heading">
            <div class="row">
                <div class="govuk-grid-column-one-third panel-left @Model.GraphicClassName"></div>
                <div class="govuk-grid-column-two-thirds panel-right govuk-!-font-size-48">@Model.PercentageGrowth.ToString("+#,##0.0;-#,##0.0;0.0", System.Globalization.CultureInfo.InvariantCulture)%<span class="govuk-!-font-size-19">@Html.Raw(Model.GrowthDeclineString)</span></div>
            </div>
        </div>
        <div class="panel-footer">
            <p class="govuk-body-m govuk-!-margin-bottom-1">
                <span class="govuk-!-font-weight-bold">Leading to:</span>
                @Model.JobsCreated.ToString("#,##0", System.Globalization.CultureInfo.InvariantCulture) @Html.Raw(Model.NewOrLostString) jobs by @Model.EndYearRange
            </p>
            @if (Model.Retirements.HasValue && Model.PercentageRetirements.HasValue)
            {
                <p class="govuk-body-m govuk-!-margin-bottom-1">
                    In the same period, <span class="govuk-!-font-weight-bold">@Model.PercentageRetirements.Value.ToString("#,##0.0", System.Globalization.CultureInfo.InvariantCulture)%</span> of the workforce is projected to retire, creating <span class="govuk-!-font-weight-bold">@Model.Retirements.Value.ToString("#,##0", System.Globalization.CultureInfo.InvariantCulture)</span> job openings
                </p>
            }
        </div>
    </div>
}
else
{
    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            Job growth information is unavailable for this job group.
        </strong>
    </div>
}